.contenedor{
  display: flex;
  position: sticky;
  top: 0; 
  background-image: linear-gradient(
  #4e00c2
  #5ddcff,
  #3c67e3 43%,
    
  );
  padding: 5px;
  align-items: flex-end;
  justify-content: flex-end;
}

